/* SUBSCRIBE */
.subscribe-button {
  font-size: 14px;

  background-color: rgb(200, 0, 0);
  color: white;

  border: none;
  border-radius: 2px;

  cursor: pointer;

  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;

  transition: opacity 0.15s;
}
/* SUBSCRIBE HOVER */
.subscribe-button:hover {
  opacity: 0.8;
}
/* SUBSCRIBE ACTIVE*/
.subscribe-button:active {
  opacity: 0.5;
}

/* JOIN */
.join-button {
  font-size: 14px;

  background-color: white;
  color: rgb(41, 118, 211);

  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

  cursor: pointer;

  margin-right: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;

  transition: background-color 0.15s, color 0.15s;
}
/* JOIN HOVER */
.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}
/* JOIN ACTIVE */
.join-button:active {
  opacity: 0.7;
}

/* TWEET */
.tweet-button {
  font-size: 14px;
  font-weight: bold;

  background-color: rgb(2, 158, 255);
  color: white;

  border: none;
  border-radius: 20px;

  cursor: pointer;

  margin-right: 8px;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;

  transition: box-shadow 0.15s;
}
/* TWEET HOVER */
.tweet-button:hover {
  /* TWEET SHADOW */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

/* REQUEST */
.request-button {
  background-color: black;
  color: white;

  border: none;
  border-radius: 1px;

  cursor: pointer;

  margin-right: 8px;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
}

/* ADD TO CART */
.addtocart-button {
  font-size: 12px;

  background-color: rgb(255, 216, 20);

  border: none;
  border-radius: 25px;

  cursor: pointer;

  margin-right: 8px;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
}

/* SIGNUP */
.signup-button {
  font-size: 12px;
  font-weight: bold;

  background-color: rgb(46, 164, 79);
  color: white;

  border: none;
  border-radius: 6px;

  cursor: pointer;

  margin-right: 8px;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
}

/* APPLY */
.apply-button {
  font-weight: bold;

  background-color: rgb(10, 102, 194);
  color: white;

  border: none;
  border-radius: 20px;

  cursor: pointer;

  margin-right: 8px;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
}

/* SAVE */
.save-button {
  font-size: 12px;
  font-weight: bold;

  background-color: white;
  color: rgb(10, 102, 194);

  border-style: solid;
  border-color: rgb(10, 102, 194);
  border-width: 1px;
  border-radius: 20px;

  cursor: pointer;
  margin-right: 8px;
  vertical-align: top;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
}
